.container{
    width:90%;
    margin:0 auto;
    &.container--fw{
        max-width:$container-max-width;
    }
}

.flex__wrapper{
    display: flex;
    flex-direction: column;
    &.rtl{
        flex-flow: column-reverse;
    }
    &.v-align-flex-start, &.v-align-center, &.v-align-flex-end{
        align-items: flex-start;
    }
}
.masonry{
    column-count:2;
    column-gap:24px;
    .masonry__child{
        margin-top:24px;
        box-sizing: border-box;
        break-inside: avoid;
    }
}
@media #{$mq-medium} {
    .flex__wrapper{
        flex-direction: row;
        align-items: flex-start;
        &.rtl{
            flex-flow: row;
        }
        &.v-align-flex-start{
            align-items: flex-start;
        }
        &.v-align-center{
            align-items: center;
        }
        &.v-align-flex-end{
            align-items: flex-end;
        }
        .flex__child{
            flex-grow: 1;
        }
    }
}

.collapse{
    display: none;
}
