.blog-content {
	max-width: 780px;
	width: 90%;
	padding: 40px 0 100px;
	margin: auto;
	transition: all .3s ease-in-out;
	overflow: hidden;
	position: relative;
}
.posts {
	width: 100%;
	margin: 0 auto;
}
.posts img {
	width: 100%;
}
.posts h6 a {
	font-family: $primary-font;
	font-size: 12px;
	color: #F4354B;
    font-weight: 500;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 0;
}
/* Clearing WP's auto styles */
.post-categories {
	margin-bottom: 0;
	margin-left:0 !important;
	li{
		list-style: none !important;
	}
}
.posts h4 {
	font-family: $primary-font;
	font-size: 22px;
	color: #4A90E2;
    font-weight: 700;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 5px;
}
.posts p {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: normal;
}
.posts a {} .date,
.tags {
	font-family: $primary-font;
	font-size: 12px;
	text-transform: uppercase;
	color: #707070;
	display: inline-block;
	margin-bottom: 10px;
}
.date:before {
	content: "";
	display: block;
	background: url("assets/img/date-icon.png") no-repeat;
	background-size: cover;
	height: 14px;
	width: 14px;
	float: left;
	margin: 3px 4px 2px 0px;
}
.tags:before {
	content: "";
	display: block;
	background: url("assets/img/tag-icon.png") no-repeat;
	background-size: cover;
	height: 14px;
	width: 14px;
	float: left;
	margin: 4px 4px 2px 16px;
}
.social-share {
	float: right;
	height: auto;
	margin: -2px 0 0 0;
}
.social-icons {
	display: inline-block;
	height: 18px;
	width: 18px;
}
.social-share img {
	width: auto;
}
.posts .blog-separator {
	margin-top: 40px;
	margin-bottom: 40px;
}
@media all and (min-width: 480px) {
	.posts a {} .date,
	.tags {
		font-size: 14px;
	}
	.posts h6 a {
		font-size: 14px;
	}
	.posts h4 {
		font-size: 24px;
	}
}
/*=================================================================
Blog Single Post
=================================================================*/
#blog-single {
	padding: 80px 0 100px;
	text-align: center;
}
/*#blog-single img {
	width: 100%;
	margin-top: 0;
}*/
#blog-single h6 {
	font-family: $primary-font;
	font-weight:500;
	font-size: 14px;
	color: #F4354B;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 5px;
}
#blog-single h4 {
	font-family: $primary-font;
	font-weight:700;
	font-size: 22px;
	color: #4A90E2;
	text-transform: uppercase;
	text-align: center;
	line-height: normal;
	margin-bottom: 10px;
	margin-top: 10px
}
#blog-single-main-image {
	margin-top: 10px;
	width: 100%;
}
#blog-single p {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: normal;
}
#blog-single a {
	font-family: $primary-font;
	font-weight:500;
	font-size: 14px;
	color: #F4354B;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 5px;
}
#blog-single strong {
	font-size: 18px;
}
#blog-single li.p1 {
	text-align: left;
	font-size: 14px;
	list-style-position: inside;
	list-style-type: disc;
	color: #707070;
	font-family: $primary-font;
	font-weight:400;
}
.blog-body img {
	width: auto;
}

.blog-body ol {
 	margin-left:15px;
}

.blog-body li {
	text-align: left;
	list-style-position: inside;
	list-style-type: none;
	font-size: 14px;
	color: #707070;
	font-family: $primary-font;
	font-weight:400;
}
@media (min-width: 480px) {
	#blog-single h4 {
		font-size: 26px;
	}
	#blog-single li.p1 {
		font-size: 16px;
	}
}
@media (min-width: 640px) {
	#blog-single {
		padding: 120px 0 100px;
		text-align: center;
	}
	#blog-single h4 {
		font-size: 28px;
	}
	#blog-single li.p1 {
	font-size: 18px;
	}
}
