//===== GENERAL
//=============

.content-block{ 
    padding:48px 0;
    background-size: cover;
    background-position: center;
}

@media #{$mq-medium} {
    .content-block{
        padding:72px 0;
    }
}

//===== BLOCK: BOX
//================
.type--box{
    .col{
        padding:24px;
        box-sizing: border-box;
        color:$white;
        background-color:$navy;
        img{
            max-width: 100%;
        }
    }
}

//===== BLOCK: QUOTE
//==================
.type--quote{
    text-align: center;
    color:$white;
    background-color:$navy;
    clip-path: polygon(0 8%, 50% 0, 100% 8%, 100% 92%, 50% 100%, 0 92%);
    .quote{
        font-size:1.5em;
        line-height:1.25em;
    }
    .citation{
        margin-top:24px;
        .cite__name{
            text-transform: uppercase;
            font-weight:700;
        }
    }
}
